@media screen and (max-width: 992px) {
  .navbar .nav-link:hover::after,
  .navbar .navbar-nav .nav-link.active-scroll::after {
    transform: scaleX(0.15);
  }
}
@media screen and (max-width: 810px) {
  .testimonials-section h2 {
    max-width: 100%;
  }
  .testimonials-section .descriptions {
    max-width: 100%;
  }
}
